body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

td.realtime-updated {
  color: green;
}

td.realtime-scheduled {
  color: black;
}
